#content
  .left.column
    %h4 categories
    - @categories.each do |category|
      %p=category.name
      - category.products.each do |product|
        %p=product.title
        %p=product.description

  .right.column
    %p
      %p= link_to 'All products', products_path
    - if current_user
      %p= link_to 'New product', new_product_path
      %p= link_to 'New category', new_category_path
