#content
  .left.column
    %h4 categories
    - @categories.each do |category|
      %p=category.name
      - category.products.each do |product|
        %p=product.title
        %p=product.description
