#content
  .left.column
    %h4 products
    - @products.each do |product|
      %p
        Title
        = product.title
        Description
        = product.description
        %p Categories:
        - product.categories.each do |category|
          %p= link_to "#{category.name}", category_path(category)
